.public_data,
.private_data {
	display: inline-block;
	width: 400px;
	margin: 10px;
	border: 1px solid black;
	padding: 20px;
}

.top {
	text-align: center;
}

.subtitle {
	font-style: italic;
}

.instructions {
	margin-bottom: 10px;
}

.public_data input[type='text'] {
	width: 200px;
	margin: 5px;
}

.article_text {
	display: inline-block;
	width: 65%;
	margin:20px;
	padding:40px;
	border: 1px solid lightgray;
	border-radius: 5%;
	text-align: left;
	overflow: auto;
}

.github div {
	margin-top: 10px;
	font-size: 30pt;
}

.ecommerce img {
	width: 45%;
	margin: 10px;
	border: 1px solid black;
}