.item_plot {
	margin-top: 20px;
	font-size: 10pt;
	padding: 30px;
}

.text_card {
	text-align: center;
}

.item_title {
	font-size: 12pt;
}

.item_cards {
	width: auto;
	font-size: 10pt;
	background-color: black;
}


.item_card {

	position: relative;
	margin: 2px;
	padding: 2px;
	text-align: left;
	overflow: hidden;
	cursor: pointer;
	font-size: 8pt;
	display: inline-block;
}

.item_card img {
	max-height: 100%;
	margin: auto;
	overflow: hidden;
}

.one_item {
	position: relative;
	top: 10px;
	left: 25%;
	border: 1px solid black;
	background-color: lightgray;
    width: fit-content;
	padding: 20px;
	text-align: left;
	margin-right: 30px;

    vertical-align: top;
}

.one_item_left {
	display: inline-block;
	max-height: 600px;
	overflow: auto;
	margin-right: 20px;
}

.one_item_right {
	display: inline-block;
	width: 400px;
	height: 100%;
	vertical-align: top;
	overflow: auto;
	margin-top: 10px;
	padding-bottom: 20px;
}

.one_item_left img {
	margin: 10px;
	max-width: 25vw;
	min-width: 20vw;
}

.one_item a {
	margin-left: 20px;
}

.one_item_title {
	font-size: 22pt;
	margin-top: 10px;
	margin-bottom: 20px;
}

.item_details {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 10pt;


}

.item_details span {
	cursor: pointer;
}

.popup_background {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.navigation {
	display: inline-block;
	width: 100%;
}

.navigation button {
	margin: 3px;
	padding: 3px;
	margin-bottom: 10px;
}

.purchase_email {
	font-style: italic;
	color: darkblue;
	margin-left: 20px;
	text-align: left;
}

.scans {
	max-height: 85vh;
	overflow: auto;
	float:left;
	margin-top: 20px;
	margin-right: 10px;
    scrollbar-width: thin;
}

.request_info {
  margin-top: 20px;
}

.close_button {
   float: right;
   font-size: 16pt;
}

.missing_photo {
	width: 100%;
	height: 100%;
	border: 1px solid gray;
	padding: 10px;
	color: white;
	text-align: center;
}